body {
  position: relative;
}

div.btn-group.bootstrap-select.show-tick.input-xlarge {
  padding-top: 1.5rem;
  opacity: 0.7;
}

textarea {
  background-color: grey;
  color: silver;
  width: 100%;
  display: none;
}

.modal-dialog .bootstrap-select {
  margin-top: 9px;
}

#process-mapping {
  margin: 5px;
}
#process-mapping > span {
  margin: 5px;
}

#header {
  z-index: 999999; 
}

#progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin-bottom: 0px;
}

#isis-tooltip {
  position: absolute;
  z-index: 10000;
  display: none;
  min-width: 250px;
  overflow-y: auto;
}

#isis-tooltip > div {
  margin-bottom: 5px;
}

#ruler {
  height: 20px;
}

.navbar-brand h4 {
  display: inline-block;
  color: silver;
}

#ui-top {
  overflow: hidden;
}

.layout-west {
  z-index: 2 !important;
}

body legend {
  margin-bottom: 0;
}

/* Style For jQuery Layout */

.ui-layout-pane-center {
  overflow-y: auto;
}

.ui-layout-pane-west {
  padding: 5px;
  background-color: #eee;
}

/* Style for Bootstrap */
.navbar-nav .btn {
  height: 47px;
  margin-right: 1px;
  color: white;
}

.input-group {
  margin-bottom: 5px;
}

/* Style for threadUI */
.thread {
  clear: both;
}

.thread > .name {
  text-align: center;
  width: 70px;
  display: inline-block;
  float: left;
}

.thread > .canvas {
  display: inline-block;
  float: left;
  width: calc(100% - 70px);
  border: solid 1px silver;
  border-bottom-width: 0;
}


/* Button classes */
.btn-sample { 
  color: #ffffff; 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #130269; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-sample .badge { 
  color: #611BBD; 
  background-color: #ffffff; 
}

/* filter */
#filter {
  position: absolute;
  bottom: 65px;
  left: 5px;
  z-index: 99999;
}

#filterToolbar {
  position: absolute;
  bottom: 50px;
  left: 5px;
  z-index: 99999;
  cursor: pointer;
}

/* Process label */
.process {
  display: inline-block;
  float: left;
  margin-left: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}

.process:hover {
  background-color: black;
  color: white;
}

/* Scale */
#uploadToolBar {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 99999;
}

.modal-body input {
  width: 100%;
}

/* Scale */
#scaleToolbar {
  position: absolute;
  bottom: 50px;
  right: 5px;
  z-index: 99999;
}

/* Thread toggle */
#toggler {
  position: absolute;
  bottom: 80px;
  right: 5px;
  z-index: 99999;
}

/* label toolbar */
#label-toolbar {
  position: absolute;
  bottom: 50px;
  right: 125px;
  z-index: 99999;
  opacity: 0.5;
}

/* label selector */
.label-selector {
}

/* timeline */
#timeContainer {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}