html, body {
  height: 100%;
}
#container {
  padding: 0 15px;
  width: auto;
}
#mapContainer {
  padding: 0;
}
#menuContainer {
  height: 100%;
  padding: 0;
}
#slideContainer input {
  width: 100%;
}
#top-left,
#top,
#left {
  padding: 0;
}
#center {
  overflow: hidden;
  padding: 0;
}
#timeline {
  overflow: auto;
  background-color: white;
}
#content {
  background-color: #3366CC;
  color: white;
}
#toolbar {
}
textarea {
  background-color: grey;
  color: silver;
  width: 100%;
}
section {
  background-color: #f0f0f0;
  height: 100%;
}